* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* ___________________ */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #070707;
    width: 100%;
}

h2 {
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
}

a {
    text-decoration: none;
}

button {
    background-color: #000;
    color: #F6F6F6;
    padding: 10px 30px;
    border-radius: 20px;
}

.container {
    width: 944px;
    margin: 0 auto;
}


/* Header */

.header {
    margin-top: 35px;
}

.header__inner {}

.nav {
    display: flex;
}

.nav__link {
    color: #828282;
    margin-left: 155px;

}

.nav__link:first-child {
    color: #828282;
    margin-left: 0;
}

.line {
    margin-top: 30px;
    width: 99.6%;
    height: 0px;
    border: 1px solid #828282;
}

/* Intro */

.intro {
    margin-bottom: 105px;
}

.name__prof__lang {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 188px;
}

.name {
    width: 19%;
    height: 153px;
    font-weight: bold;
    font-size: 47px;
    line-height: 55px;

}

.profession__city {
    width: 16.5%;
    height: 77px;
    font-weight: 500;
    line-height: 21px;
    margin-left: 240px;
    margin-right: 280px;
}

.name__prof__lang .name {
    align-self: flex-end;
}

.name__prof__lang .profession__city {
    align-self: flex-end;
}

.name__prof__lang .lang {
    align-self: center;
}

.lang {
    font-weight: bold;
    font-size: 16px;
    color: #828282;
    width: 10.6%;
    height: 20px;
    transform: rotate(-90deg);
    cursor: pointer;
}

.languages {
    display: inline-block;
    padding-top: 41px;
}

.person__photo {
    background-image: url('/src/img/person_photo.jpg');
    width: 100%;
    height: 450px;
    margin-top: 34px;
}


/* About me */

.about__me-bg {
    background: #F6F6F6;
    width: 100%;
    margin-bottom: 90px;
}

.about__me__contaiter {}

.about__me {
    padding: 120px 0;
}

.about__me-inner {}

.about__title {
    margin-bottom: 20px;
}


.about__text {
    width: 50.8%;
    margin: 0 auto;
}

.about__text-inner {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

/* Skills */

.skills__title {
    margin-bottom: 30px;
}

.skills-subtitle {
    width: 24.4%;
    margin: 0 auto;
    margin-bottom: 64px;
}

.skills__subtitle-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 110px;
}

.skills__item {
    margin-left: 84px;
    margin-top: 20px;
    width: 18%;
    height: 206px;
    transition: 0.5s;
}

.skills__item:first-child {
    margin-left: 0;
}

.skill__img {
    width: 100%;
    transition: 0.5s;
}

.skills__item:hover {
    transform: scale(1.2);
}


.skill__icon {
    width: 52.9%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.figma {
    margin-left: 10px;
    width: 65%;
}

.skill__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.skill__level {
    width: 97.7%;
    height: 26px;
    background-repeat: no-repeat;
    margin-top: 40px;
}

/* Portfolio */

.portfolio-bg {
    background: #F6F6F6;
    width: 100%;
}

.portfolio__inner {
    padding: 120px 0;
}

.portfolio__title {
    margin-bottom: 0px;
}

.portfolio__item {
    margin-top: 100px;
}

.portfolio__item:first-child {
    margin-top: 47px;
}

.work {
    padding-bottom: 45px;
}

.work__link-container {
    margin: 0 auto;
    width: 29%;
}

.work__link {
    color: #070707;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.open__more-portfolio {
    width: 6%;
    height: 10px;
    background-image: url(/src/img/icons/open_next.svg);
    background-repeat: no-repeat;
    padding: 10px 0px 10px 0px;
    margin: 0 auto;
}

/* Footer/Social */

.contacts__inner {}

.contacts__title {
    margin: 115px 0 20px 0;
}

.title__text {}

.contacts__subtitle {
    margin: 0 auto;
    width: 28%;
}

.subtitle__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.send__message {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.social__footer {
    margin-bottom: 135px;
}

.social {
    display: flex;
    width: 36%;
    margin: 0 auto;
    margin-top: 85px;
}

.social__item {
    margin-left: 60px;
}

.social__item:first-child {
    margin-left: 0;
}

.social__icon {
    cursor: pointer;
}

.social__text {
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.footer__social__text {
    margin-top: 45px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
}

/* Modal */
.modal {
    position: relative;
    background-color: #fff;
    padding: 25px 30px;
    margin: 0 auto;
    width: 77.3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -75%;
}

.invisible {
    display: none;
}

.btn__shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.modal__close__item {
    position: absolute;
    top: -5%;
    left: 96%;
    cursor: pointer;
}

.first__form {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.modal__title {
    text-align: left;
    margin-bottom: 20px;
}

.email__title {
    width: 13.7%;
    margin-top: 7px;
}

input.put__email {
    padding-left: 10px;
    width: 86.3%;
    height: 30px;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form__text__title {
    margin-bottom: 5px;
}

textarea.put__text {
    padding: 10px;
    width: 97.2%;
    height: 200px;
    font-size: 18px;
    vertical-align: top;
    margin-bottom: 13px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Media 1000px*/
@media (max-width: 1000px) {
    body {
        font-size: 16px;
    }

    .container {
        max-width: 770px;
    }

    .nav__link {
        margin-left: 120px;
    }

    .nav__link:first-child {
        margin-left: 20px;
    }

    .nav__link:last-child {
        margin-left: 130px;
    }

    .name {
        width: 19%;
        height: 153px;
        font-weight: bold;
        font-size: 43px;
        line-height: 55px;
        margin-left: 20px;
    }

    .profession__city {
        width: 15%;
        height: 60px;
        font-weight: 500;
        line-height: 21px;
        margin-left: 200px;
        margin-right: 180px;
    }

    .lang {
        font-weight: bold;
        font-size: 12px;
        width: 12%;
        height: 20px;
        transform: rotate(-90deg);
        cursor: pointer;
    }

    .skills__item {
        width: 15%;
    }

    .skills__item:first-child {
        margin-left: 30px;
    }

    .skill__level img {
        width: 97.7%;
        background-repeat: no-repeat;
    }

    .work img {
        width: 100%;
    }

    .work__link-container {
        margin: 0 auto;
        font-size: 14px;
        width: 35%;
        text-align: center;
    }

    .open__more-portfolio {
        width: 7.5%;
        height: 10px;
        background-image: url(/src/img/icons/open_next.svg);
        background-repeat: no-repeat;
        padding: 10px 0px 10px 0px;
        margin: 0 auto;
    }

    .social {
        width: 45%;
        margin-top: 45px;
    }



}

/* media 768 */

@media (max-width: 769px) {
    .nav {
        display: none;
    }

    .line {
        display: none;
    }

    .lang {
        display: none;
    }

    .burger {
        position: absolute;
        margin: 93%;
        margin-top: 60px;
        width: 33px;
        height: 20px;
    }
}

/* Media 415px */

@media (max-width: 415px) {
    body {
        width: 100%;
        font-size: 18px;
        overflow-x: hidden;
    }

    .container {
        max-width: 400px;
    }

    .intro {
        margin-bottom: 55px;
    }

    .burger__item {
        position: absolute;
        background-image: url(/src/img/icons/burger.svg);
        margin: 88%;
        margin-top: 0px;
        width: 33px;
        height: 20px;
    }

    .nav__link {
        display: none;
    }

    .line {
        display: none;
    }

    .name__prof__lang {
        display: block;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        height: 150px;
        margin-top: 60px;
        margin-left: 8px;
    }

    .name {
        width: 40%;
        height: 130px;
        font-weight: bold;
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 20px;
        margin-left: 0;
    }

    .profession__city {
        width: 40%;
        height: 60px;
        margin-left: 0;
        margin-right: 0;
        line-height: 20px;
    }

    .lang {
        display: none;
    }

    .person__photo {
        background-image: url('/src/img/person_photo_mob.jpg');
        width: 100%;
        margin-top: 0px;
        margin: 80px 0px 0 0px;
    }

    .about__me-bg {
        width: 100%;
        margin-left: 0px;
    }

    .skills__item {
        width: 60%;
    }

    .skills__item {
        margin-bottom: 120px;
        margin-left: 20%;
    }

    .skills__item:last-child {
        margin-bottom: 20px;
    }

    .skills__item:first-child {
        margin-left: 21%;
    }

    .skill__level img {
        width: 97.7%;
        background-repeat: no-repeat;
    }

    .work img {
        width: 100%;
    }

    .work__link-container {
        margin: 0 auto;
        font-size: 14px;
        width: 70%;
        text-align: center;
    }

    .open__more-portfolio {
        width: 15%;
        height: 10px;
        background-image: url(/src/img/icons/open_next.svg);
        background-repeat: no-repeat;
        padding: 10px 0px 10px 0px;
        margin: 0 auto;
    }

    .social {
        width: 84%;
        margin-top: 45px;
    }

    .footer__social__text {}



}